<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>657344197924-u79jcdj3b4qcch6e8rnr7d3rsebeum5p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657344197924-u79jcdj3b4qcch6e8rnr7d3rsebeum5p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>657344197924-0prqedtjndbtg707576r0qjh7702tge8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA8RN9ywUrLtWq7MQwPjAkgdbj00mGcrNc</string>
	<key>GCM_SENDER_ID</key>
	<string>657344197924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seller01.candid</string>
	<key>PROJECT_ID</key>
	<string>candid-cf9fc</string>
	<key>STORAGE_BUCKET</key>
	<string>candid-cf9fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657344197924:ios:3d9087d73c9d8dc2362fb1</string>
	<key>DATABASE_URL</key>
	<string>https://candid-cf9fc-default-rtdb.firebaseio.com</string>
</dict>
</plist>